html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}
.p-header,
.p-mobile {
  color: #ffffff;
}

.p-mobile {
  display: none;
}
.container {
  align-items: center;
  justify-content: center;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}
.header-superior {
  margin-top: 2em;
}
.header-superior .p-header {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.conteudo-filme {
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#cartaz-filme {
  margin-right: 4em;
}
#banner-filme {
  height: 450px;
}

#titulo-filme {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

#descricao {
  line-height: 20px;
  font-weight: 100;
  margin-top: 1em; 
  max-width: 500px;
  max-height: 50px;
}

.info-filme {
  display: flex;
  flex-direction: column;
}

#encontrar-filme,
.ver-sinopse {
  display: flex; /* Torna o conteúdo do botão flexível */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: center; /* Centraliza horizontalmente os elementos */
  margin: 0 auto; /* Centraliza horizontalmente o botão */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 1em;
}
.ver-sinopse {
  display: none;
}
.modal {
  display: none;
}

#encontrar-filme:hover {
  background: #ffffff;
}

#encontrar-filme p {
  margin-left: 10px; 
}
.p-bottom {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-top: 2em;
  color: #e9e9e9;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .p-bottom,
  #descricao,
  #titulo-filme {
    display: none;
  }
  .p-mobile {
    display: block;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 8em;
  }
  #banner-filme {
    height: 300px;
    margin-left: 55px;
    margin-top: 10px;
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 500px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .modal-title p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #d4cfcf;
    margin-top: 1em;
  }
}
